# Pandas VS SQL
#http://pandas.pydata.org/pandas-docs/stable/comparison_with_sql.html
#http://www.gregreda.com/2013/10/26/using-pandas-on-the-movielens-dataset/
#http://www.dataschool.io/best-python-pandas-resources/
. https://www.youtube.com/watch?v=5JnMutdy6Fw&t=1529s ( Pandas from Ground Up)

Example 

https://www.kaggle.com/arillo03/imdb-movie-dataset-analysis

In [1]:
import pandas as pd
import numpy as np
print('Pandas version ' + pd.__version__)
url = 'https://raw.github.com/pandas-dev/pandas/master/pandas/tests/data/tips.csv'
tips = pd.read_csv(url)
tips.head(3)

Pandas version 0.20.3

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

# Pandas Dataframe Basic Information

In [ ]:
print('No of Rows and Columns'+str(tips.shape)+'='+str(tips.size) +' Total number of cells, Using memory' +
      str(tips.memory_usage().sum()/1024))
#print(tips.memory_usage().sum()/1024)
# Column Data type Information
#print(tips.dtypes)
#Convert Column Data types
#tips['sex']            = tips['sex'].astype(str)
#tips[['sex','smoker']] = tips[['sex','smoker']].astype(str)

# Column Names
print(tips.columns)

#Memory usage by column
print(tips.memory_usage())


# Statistics Information for dataframe 
print('Dataframe Describe')
print(tips.describe())

# Data frame Information
print('Dataframe Info Indexes')
tips.info()


#Create a new function:
def num_missing(x):
  return sum(x.isnull())

#Applying per column:
print ("Missing values per column:")
print (tips.apply(num_missing, axis=0)) #axis=0 defines that function is to be applied on each column

# count number of missing values in each column
print(tips.isnull().sum())

#Applying per row:
print ("\nMissing values per row:")
print (tips.apply(num_missing, axis=1).head()) #axis=1 defines that function is to be applied on each row

#Gett Unique values in a column
#tips['sex'].unique()
#Get columns unique counts for each column
for x in tips.columns:
    print((x,len(tips[x].unique())))
    #print((x,(tips[x].unique())))

#print(type(list(tips.columns)))
#tips.value_counts(tips['sex'].values.ravel())
#tips.value_counts()
#tips['sex'].count()
#tips.value_counts()
#dir(tips).describe()
# Provides data frame no of rows and columns
#tip.shape

# Column Selection and Manipulation
https://www.shanelynn.ie/select-pandas-dataframe-rows-and-columns-using-iloc-loc-and-ix/

In [ ]:
#Display selected columns based on column Display names
tips.loc[:,['total_bill','tip']].head(2)

In [ ]:
#Gets rows in a given range
start_row, end_row=2,6
tips[start_row:end_row]

In [ ]:
# Select rows and Columns based on integer location
start_row, end_row=3,5
start_col, end_col=0,2

tips.iloc[start_row:end_row,start_col:end_col]
#tips.iloc[3:5,0:2]

In [9]:
# Select Columns  of a certain data type
tips.select_dtypes(include=['object']) .head(2)

      sex smoker  day    time
0  Female     No  Sun  Dinner
1    Male     No  Sun  Dinner

# Categorical Encoding
http://pbpython.com/categorical-encoding.html

https://github.com/chris1610/pbpython/blob/master/notebooks/Category-Encoding-Article.ipynb

In [21]:
# Manual Categorization with replace statement.
tips['sex_no']=tips['sex']
tips['day_no']=tips['day']
cleanup_nums = {"sex_no":     {"Female": 0, "Male": 1}
              , "day_no":     {"Mon": 0, "Tue": 1, "Wen":2,"Thur":3,"Fri":4,"Sat":5,"Sun":6}}

tips.replace(cleanup_nums, inplace=True)

#######################################
#Automatic Categorization without replace statement

tips["day_no"] = tips["day_no"].astype('category')
tips["day_no_auto"] = tips["day_no"].cat.codes
tips.corr()

             total_bill       tip      size    sex_no  day_codes  day_no_auto
total_bill     1.000000  0.675734  0.598315  0.144877   0.173693     0.173693
tip            0.675734  1.000000  0.489299  0.088862   0.135499     0.135499
size           0.598315  0.489299  1.000000  0.086195   0.165350     0.165350
sex_no         0.144877  0.088862  0.086195  1.000000   0.230791     0.230791
day_codes      0.173693  0.135499  0.165350  0.230791   1.000000     1.000000
day_no_auto    0.173693  0.135499  0.165350  0.230791   1.000000     1.000000

# Column Rename and DataType Conversion

In [51]:
# Column  Renames or Aliasing
#rename column form total_bill to Total Bill
print(tips.columns)
tips.rename(columns={'total_bill': 'Total Bill'}, inplace=True); print(tips.columns)

tips.rename(columns={'Total Bill': 'total_bill'}, inplace=True)
############################################################
# Replace spaces with Underscores
#tips.columns = tip.columns.str.replace(' ', '_')

tips.columns = tips.columns.str.upper() ; print(tips.columns)

tips.columns = tips.columns.str.lower() ; print(tips.columns)

############################################################
# Renaming all the columns for  example converting all of them to upper case 
tips_original_cols = ['day', 'sex', 'size', 'smoker', 'time', 'tip', 'total_bill']
tips_cols = ['DAY', 'SEX', 'size', 'smoker', 'time', 'tip', 'total_bill']

tips.columns = tips_cols; print(tips.columns)

tips.columns = tips_original_cols ; print(tips.columns)

Index(['day', 'sex', 'size', 'smoker', 'time', 'tip', 'total_bill'], dtype='object')
Index(['day', 'sex', 'size', 'smoker', 'time', 'tip', 'Total Bill'], dtype='object')
Index(['DAY', 'SEX', 'SIZE', 'SMOKER', 'TIME', 'TIP', 'TOTAL_BILL'], dtype='object')
Index(['day', 'sex', 'size', 'smoker', 'time', 'tip', 'total_bill'], dtype='object')
Index(['DAY', 'SEX', 'size', 'smoker', 'time', 'tip', 'total_bill'], dtype='object')
Index(['day', 'sex', 'size', 'smoker', 'time', 'tip', 'total_bill'], dtype='object')

In [24]:
#Convert column date to upper case 
tips['smoker'] = tips['smoker'].apply(lambda x: x.upper());tips.head(2)

,total_bill,tip,sex,smoker,day,time,size,day.sum,day.max,tip.max,tip.min,tips.sum
0,16.99,1.01,Female,NO,Sun,Dinner,2,23.95,5.0,5.0,1.01,69.72
1,10.34,1.66,Male,NO,Sun,Dinner,3,38.07,4.0,4.0,1.66,32.31

# Column Creation/ Update

In [33]:
#How can I add a column that is equal to the max/sum of a group?¶
#apply a function to a group and add the results to my original data frame?
group = tips.groupby(['day','time','size','smoker'])['tip']

def Summation(x):
    return x.sum()

tips['tips.sum'] = group.transform(Summation) # Custom function
# Python Standard functions
tips['tip.max']  = group.transform('max') 
tips['tip.min']  = group.transform('min') 
tips['tip.mean'] = group.transform('mean')
tips['tip.std']  = group.transform('std')

tips[tips['tip']==tips['tip.min']].head(2)
#tips[tips['tip']==tips['tip.max']].head(3)


# If else condition and column creation/update
tips['tip.grt.avg'] = np.where(tips['tip'] > tips['tip.mean'],'high','low')

# If condition  update existing columns we ca
tips.loc[tips['tip'] > tips['tip.mean'],['tip.grt.avg']] = 'High'

tips.head(3)

,total_bill,tip,sex,smoker,day,time,size,tips.sum,tip.max,tip.min,tip.mean,tip.std,tip.grt.avg
0,16.99,1.01,Female,No,Sun,Dinner,2,69.72,5.0,1.01,2.582222,0.865969,low
1,10.34,1.66,Male,No,Sun,Dinner,3,32.31,4.0,1.66,2.937273,0.934121,low
2,21.01,3.50,Male,No,Sun,Dinner,3,32.31,4.0,1.66,2.937273,0.934121,High

# Distinct Operations

In [44]:
#Single Column Distincts 
tips['time'].unique()
#pd.unique(tips.time.ravel())

#Multiple Column Distincts
tips[['time','smoker']].drop_duplicates(subset=['time','smoker'])

# List of distinct values from multiple columns into a single list
#np.unique(tips[['time','smoker']])
# Reference https://www.linkedin.com/pulse/sql-operations-data-using-python-part-1-simple-select-onyshchenko/

# Get Duplicate rows

      time smoker
0   Dinner     No
56  Dinner    Yes
77   Lunch     No
80   Lunch    Yes
1      NaN   None
2    Lunch      f
3   Dinner      m

# Indexes : Setting and Resetting

In [ ]:
#TODO: Add code for setting and resetting indexes 
#and how performance will be imporved

# Filtering/Where Condition

In [2]:
# To get first 6 rows in  dataframe
tips.head(6) #.tail(5) last 5 rows

#Selecting columns from a data frame and only first 5 rows
tips[['total_bill', 'tip', 'smoker', 'time']].head(5)

#Selecting columns which fit a particular criteria from a data frame and only top5 rows
tips[tips['time'] == 'Dinner'][['total_bill', 'tip', 'smoker', 'time']].head(5)

#Selecting columnswhich fit a particular criteria with multiple conditions from a data frame and only top5 rows
tips[['total_bill', 'tip', 'smoker', 'time']].head(5)

#TODO: Like Conditions
#https://pandas.pydata.org/pandas-docs/stable/api.html#string-handling
#tips[tips['time'].str.endswith("r")]
tips[tips['time'].str.contains("inn")]

#TODO : in condition and not in conditions.
day=['Sun','Sat']
tips[tips['day'].isin(day)]

# Not in Condition
tips[~tips['day'].isin(day)] .head(2)

tips[tips['tip']==tips['tip'].max()]

# Alternative version of above with column selection
tips.loc[tips['tip']==tips['tip'].max(), ['total_bill', 'tip', 'smoker', 'time']]


#TODO : How to get max tips by sex and smoker type

     total_bill   tip   sex smoker  day    time  size
170       50.81  10.0  Male    Yes  Sat  Dinner     3

# Missing Data
http://www.ritchieng.com/pandas-handling-missing-values/

http://pandas.pydata.org/pandas-docs/version/0.15.2/missing_data.html#filling-missing-values-fillna

In [33]:
missing_data = {  'total_bill': [52, np.nan, 9, 10, 100]
            , 'tip'       : [1, np.nan, .5,np.nan , 20]
            , 'sex'       : ['Male', None, 'Female', 'Male', 'Female']
            , 'smoker'    : ['Yes', None, 'f', 'm', 'f'] 
            , 'day'       : ['Mon', np.nan, np.nan, 'Fri', 'Sun']
            , 'time'      : ['Dinner', np.nan, 'Lunch', 'Dinner', 'Lunch']
            , 'size'      : [2, np.nan, np.nan, 62, 25]
           }
print(tips.shape)
tips =pd.concat([tips,pd.DataFrame(missing_data)])
print(tips.shape)

tips.tail()

   day     sex  size smoker    time   tip  total_bill
0  Mon    Male   2.0    Yes  Dinner   1.0        52.0
1  NaN    None   NaN   None     NaN   NaN         NaN
2  NaN  Female   NaN      f   Lunch   0.5         9.0
3  Fri    Male  62.0      m  Dinner   NaN        10.0
4  Sun  Female  25.0      f   Lunch  20.0       100.0

### Where  conditions

In [43]:
# count number of missing values in each column
tips.isnull().sum()

# look for rows with missing values in a particular column   
# Note below is null has not worked 
tips[tips['total_bill'].isnull()]

# look for rows with no missing values in a particular column 
tips[tips['smoker'].notnull()].head(4)

#Display selective columns only when displaying data
tips[tips['time'].notnull()][['tip','total_bill']].head(3)

(264, 7)

    tip  total_bill
0  1.01       16.99
1  1.66       10.34
2  3.50       21.01

### Drop Missing Data

In [ ]:
print(tips.shape)

# drop rows if any of the columns have a missing value
tips.dropna(how='any').shape
print(tips.shape)

# drop row if either column tip or sex reported are missing
tips.dropna(subset=['tip', 'sex'],how='any').shape

# drop row if all of the columns are missing
tips.dropna(how='all').shape
print(tips.shape)

# drop row if both tip or sex reported are missing
tips.dropna(subset=['tip', 'sex'], how='all').shape

subset=['City', 'Shape Reported'],

### Filling Missing Data

In [ ]:
## TODO : NVL vs fillna ( Bfill, ffill)

# Sorting Data

In [ ]:
tip.

# Pivot and Pivot Table

Below is a good article for differrence between Pivot and Pivot_table
#http://nikgrozev.com/2015/07/01/reshaping-in-pandas-pivot-pivot-table-stack-and-unstack-explained-with-pictures/

TODO: drop levels in pandas

In [1]:
from collections import OrderedDict
from pandas import DataFrame
import pandas as pd,numpy as np

table = OrderedDict((
    ("Item", ['Item0', 'Item0', 'Item1', 'Item1']),
    ('CType',['Gold', 'Bronze', 'Gold', 'Silver']),
    ('USD',  ['1$', '2$', '3$', '4$']),
    ('EU',   ['1€', '2€', '3€', '4€'])
))
d = DataFrame(table)
d.head(10)

    Item   CType USD  EU
0  Item0    Gold  1$  1€
1  Item0  Bronze  2$  2€
2  Item1    Gold  3$  3€
3  Item1  Silver  4$  4€

In [3]:
#Pivot Table
#tips.pivot_table(index='day', columns='sex', values='tip',aggfunc=np.average)
p = d.pivot(index='Item', columns='CType', values='USD')
p.head(10)

CType Bronze Gold Silver
Item
Item0     2$   1$   None
Item1   None   3$     4$

In [10]:
p = d.pivot(index='Item'
            , columns='CType'); p

         USD                 EU
CType Bronze Gold Silver Bronze Gold Silver
Item
Item0     2$   1$   None     2€   1€   None
Item1   None   3$     4$   None   3€     4€

### Pivot Sorting values

In [ ]:
p.sort_values(by=('USD','Gold'), ascending=False,inplace=True)
p

### Pivot Dataframe column Selection

In [6]:
# Select colums USD
p['USD']

# Select column Bronze under USD
p['USD']['Bronze']
# Alternative dynamic way of selection columns 
p[('USD','Bronze')]

Item
Item0      2$
Item1    None
Name: (USD, Bronze), dtype: object

### Pivot Data frame Row selection

In [19]:
#Selecting Item0 Row
p.loc[(p.index.get_level_values('Item') == 'Item0')]

#Selecting Item0 Row and particular column upto second level
p.loc[(p.index.get_level_values('Item') == 'Item0')][('USD','Bronze')]

# Selecting Rows from pivoted table
# Original DataFrame: Access the USD cost of Item0 for Gold customers
#print (d[(d.Item=='Item0') & (d.CType=='Gold')].USD.values)

# Pivoted DataFrame: Access the USD cost of Item0 for Gold customers
#print (p[p.index=='Item0'].Gold.values)

Item
Item0    2$
Name: (USD, Bronze), dtype: object

In [23]:
pivot_table = d.pivot_table(index='Item'
                            , columns='CType'
                            , values='USD'
                            , aggfunc=np.min); pivot_table

CType Bronze Gold Silver
Item
Item0     2$   1$   None
Item1   None   3$     4$

In [28]:
pivot_table = d.pivot_table(index='Item'
                            , columns='CType'
                            , values='USD'
                            , aggfunc=np.min
                           , fill_value=0
                           , margins  = True); pivot_table

# margin values are based on aggregate function

CType Bronze Gold Silver All
Item
Item0     2$   1$      0  1$
Item1      0   3$     4$  3$
All       2$   1$     4$  1$

# Group BY

In [ ]:
#Aggregation
#http://www.shanelynn.ie/summarising-aggregation-and-grouping-data-in-python-pandas/
tips.agg({'smoker' : ['sum', 'min'], 'day' : ['min', 'max']})

#Multi column Aggregation
#tips.groupby('day').agg({'tip': np.mean, 'day': np.size})

# multi aggregation  and agg values can be passed as dictionary value and size is equivalent to count* in sql
#tips.groupby(['smoker', 'day']).agg({'tip': [np.size, np.mean]})
tips.groupby(['smoker', 'day']).agg({'tip': {"tip_size":np.size, "tip_mean":np.mean}})


#Average/ Mean of tips by sex
#tips.groupby('sex')['tip'].mean()

<img src="pandas_aggregation-768x307.png">

# Group by & Where
Reference 
http://nbviewer.jupyter.org/urls/bitbucket.org/hrojas/learn-pandas/raw/master/lessons/Cookbook%20-%20Compute.ipynb

# Join & Merges

In [ ]:
#https://pandas.pydata.org/pandas-docs/stable/merging.html
#https://chrisalbon.com/python/pandas_join_merge_dataframe.html

In [ ]:
#Joins 
df1 = pd.DataFrame({'key': ['A', 'B', 'C', 'D'],
                       'value': np.random.randn(4)})
df2 = pd.DataFrame({'key': ['B', 'D', 'D', 'E'],
                       'value': np.random.randn(4)})

# merge performs an INNER JOIN by default
pd.merge(df1, df2, on='key')

# show all records from df1
pd.merge(df1, df2, on='key', how='left')

# show all records from df2
pd.merge(df1, df2, on='key', how='right')

# show all records from both frames

pd.merge(df1, df2, on='key', how='outer')


# Left Join with differrent column names 
#result = pd.merge(df_heat_orignation, df_heat_batch_status_sum, how='left', left_on=['HEAT'], right_on=['HEAT_NO'])

# Sort and Rank

In [ ]:
#Row number in sql and sort by rownumber with in a group
(tips.assign(rn=tips.sort_values(['total_bill'], ascending=False)
                       .groupby(['day'])
                       .cumcount() + 1)
        .query('rn < 3')
         .sort_values(['day','rn'])
 )

#another way of doing ranking .
(tips.assign(rnk=tips.groupby(['day'])['total_bill']
                        .rank(method='first', ascending=False))
       .query('rnk < 3')
        .sort_values(['day','rnk'])
    )

In [ ]:
# Sort values by biggest tip and then by size.
tips.sort_values(by=['tip','size'],ascending=[False,False])

# Inplace True ensures dataframe is sorted permanently
tips.sort_values(by=['tip','size'],ascending=[False,False],inplace=True)

In [ ]:
tips.head()

In [ ]:

#Data frame to Json
x=np.random.randn(5,2)
type(x)

In [ ]:
# Fill missing values 
#https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.fillna.html
#https://pandas.pydata.org/pandas-docs/stable/generated/pandas.core.groupby.DataFrameGroupBy.fillna.html
df = pd.DataFrame([  [1, 2, 3]
                   , [4, None, None]
                   , [None, None, 9]])
#df.head()
df.fillna(method='ffill', inplace=True))
df.head()

In [ ]:

#reference :https://stackoverflow.com/questions/27905295/how-to-replace-nans-by-preceding-values-in-pandas-dataframe
example = pd.DataFrame({'number':[0,1,2,None,4,None,None,7,8,9],'name':list('aaabbbcccc')})
example.head(20)

In [ ]:
example.groupby('name')['number'].fillna(method='ffill') # fill in row 5 but not row 3

In [ ]:
#Reference 
#http://www.shanelynn.ie/analysis-of-weather-data-using-pandas-python-and-seaborn/
#http://pandas.pydata.org/pandas-docs/stable/groupby.html#iterating-through-groups
#http://altons.github.io/python/2013/01/21/gentle-introduction-to-mongodb-using-pymongo/
#https://www.analyticsvidhya.com/blog/2016/01/12-pandas-techniques-python-data-manipulation/

# Statistical Info

In [ ]:
#tips.describe()
import seaborn as sns
%matplotlib inline
sns.set(style="white")
corr=tips.corr()

#The range of the correlation coefficient is from -1 to 1. 
# Correlations are not generated for object data types
corr
sns.heatmap(corr, 
        xticklabels=corr.columns,
        yticklabels=corr.columns)

# STYLING
https://pandas.pydata.org/pandas-docs/stable/style.html

In [ ]:
import pandas as pd
import numpy as np

np.random.seed(24)
df = pd.DataFrame({'A': np.linspace(1, 10, 10)})
df = pd.concat([df, pd.DataFrame(np.random.randn(10, 4), columns=list('BCDE'))],
               axis=1)
df.iloc[0, 2] = np.nan
df

In [ ]:
df.style

In [5]:
from pandas.io.json import json_normalize
data = [{'state': 'Florida',
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
        'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
         {'state': 'Ohio',
          'shortname': 'OH',
          'info': {'governor': 'John Kasich'},
          'counties': [{'name': 'Summit', 'population': 1234},
                       {'name': 'Cuyahoga', 'population': 1337}]}]

print(type(data))
result = json_normalize(data, 'counties', ['state', 'shortname',
                                           ['info', 'governor']])
result

<class 'list'>

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

In [3]:
data = [{'id': 1, 'name': {'first': 'Coleen', 'last': 'Volk'}},
         {'name': {'given': 'Mose', 'family': 'Regner'}},
         {'id': 2, 'name': 'Faye Raker'}]
json_normalize(data)

    id        name name.family name.first name.given name.last
0  1.0         NaN         NaN     Coleen        NaN      Volk
1  NaN         NaN      Regner        NaN       Mose       NaN
2  2.0  Faye Raker         NaN        NaN        NaN       NaN